div.slider-container {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

  position: absolute;
  bottom: 20px;
  left: 0;

  width: 100vw;

  display: flex;
  justify-content: center;

  div.control {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100vw - 40px);

    button {
      padding: 0 20px;
      height: 30px;
      margin-right: 20px;
      font-size: 1.2rem;
    }

    input {
      width: 100%;
    }

    div {
      margin-left: 20px;
      width: 150px;
      font-weight: bold;
    }
  }
}
